*.o
*.lo
*.a
*.so
*.so.1
config.mak
lib/musl-gcc.specs
/obj/

halvm-ar
halvm-ranlib
crt/halvm
src/fenv/halvm
src/math/halvm
src/process/halvm
src/setjmp/halvm
src/signal/halvm
src/string/halvm
arch/halvm/bits
arch/halvm/reloc.h
arch/halvm/atomic_arch.h
arch/x86_64/bits/resource.h
arch/x86_64/bits/termios.h
